@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body,
html {
    overflow-x: hidden;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 80px;
    background-color: #f8f7f7;
    flex-wrap: wrap;
    height: auto;
}

.home-left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.home-right {
    flex: 1;
    padding: 20px 40px;
}

.home-heading {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    height: 80px;
    color: #333;

}

/* Typewriter cursor animation */
.cursor {
    display: inline-block;
    margin-left: 3px;
    color: #333;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home-subheading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-family: "Elms Sans", sans-serif;
    color: #007BFF;

}

.home-text {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    max-width: 400px;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
}

.button-group {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
}

.home-right a {
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 20px;
    color: white;
    margin-right: 15px;
}

.hire {
    background-color: #333 !important;
    color: white !important;
}

.hire:hover {
    background-color: black !important;
    color: white !important;
}

.resume-btn {
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.resume-btn:hover {
    background-color: #0069d8;
}


@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        padding: 40px;
        text-align: center;
    }

    .home-right {
        padding: 10px 0px;
    }

    .home-image {
        width: 250px;
        height: 250px;
    }

    .home-heading {
        font-size: 42px;
    }

    .button-group {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .resume-btn {
        width: 50%;
        text-align: center;
    }
}