@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.projects-section {
    background-color: #f8f7f7;
    padding: 40px 80px;
}

.projects-heading {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #333;
    font-family: "Nunito", sans-serif;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.project-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    max-width: 350px;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    font-family: "Nunito", sans-serif;

}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 80%;
    border-radius: 10px;
    object-fit: cover;
    height: 120px;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0 10px;
    color: #222;
}

.project-description {
    font-size: 15px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.project-btn {
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.github-btn {
    background-color: #333;
}

.github-btn:hover {
    background-color: #000;
}

.demo-btn {
       background-color: #007BFF;

}

.demo-btn:hover {
    background-color: #0069d8;
}

/* === Scroll Animation === */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .projects-section {
        padding: 40px 20px;
    }

    .projects-heading {
        font-size: 40px;
        text-align: center;
    }

    .project-card {
        max-width: 100%;
    }

    .project-image {
        height: 180px;
    }

}

@media (max-width: 1024px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 per row on tablets */
    }
}

@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
        /* 1 per row on mobile */
    }
}