.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease, opacity 0.5s ease;
  /* fade transition */
  opacity: 0;
  /* start hidden */
  pointer-events: none;
  /* prevent clicks when hidden */
  z-index: 999;
}

.scroll-to-top.show {
  opacity: 1;
  /* fade in */
  pointer-events: auto;
  /* clickable when visible */
}

.scroll-to-top:hover {
  background-color: #0069d8;
  transform: translateY(-3px);
}

/* Mobile */
@media (max-width: 768px) {
  .scroll-to-top {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
}